{% load static %}
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static  'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body data-new-gr-c-s-check-loaded="9.65.0" data-gr-ext-installed="">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http:/main/">DONE</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="http:/about/">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="http:/map/">Map</a></li>
            </ul>
             <form class="navbar-form pull-right">
              <button type="submit" class="btn"><a href="http:/login/">Sign in</a></button>
              <button type="submit" class="btn"><a href="http:/register/">Register </a></button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <head>

    <title>Geolocation</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="{% static  'googlemaps/live_location.css' %}" />
    <script type="module" src="{% static  'googlemaps/live_location.js' %}"></script>
  </head>

    <div style="
    height: 600px;
    width: 300px;
    position: absolute;
    top: 150px;
    right: 150px;
">
    <table class="table table-hover">
        <h6>Selected Services: {{ service }}</h6>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>

  <tbody>

    {% for worker in nearby_workers %}
    <tr onclick="createOrder('{{ worker.id }}')">
      <td>{{ worker.user.first_name }}</td>
      <td>{{ worker.rating }}</td>
      <td>{{ worker.photo }}</td>

    </tr>
  {% endfor %}
  </tbody>
     <form id="orderForm" method="POST" action="{% url 'create_order' %}" style="display: none;">
  {% csrf_token %}
  <input type="hidden" id="workerId" name="worker">
  <input type="hidden" id="service" name="service" value="{{ service.id }}">
</form>

<script>
  function createOrder(workerId) {
    document.getElementById("workerId").value = workerId;
    document.getElementById("orderForm").submit();
  }
</script>

</table>

        </div>
  <body>
    <div id="map"></div>


  <script>

    // const workers = {{ workers }};


  </script>
    <!--
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>