{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static  'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body data-new-gr-c-s-check-loaded="9.65.0" data-gr-ext-installed="">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http:/main/">DROP</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="http:/about/">About</a></li>
              <li><a href="http:/pricing/">Pricing</a></li>
              <li><a href="http:/map/">Map</a></li>
            </ul>

             <form class="navbar-form pull-right">
              <button type="submit" class="btn"><a href="http:/login/">Sign in</a></button>
              <button type="submit" class="btn"><a href="http:/register/">Register </a></button>
            </form>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Get Your Housework Done Fast</h1>
        <p>
          At Done, we understand that your time is valuable, and maintaining your chores can be time-consuming and tiring. That's why we offer affordable housework services that connect you with reliable and trustworthy local service providers.

  .
        </p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Worker</h2>
          <p>Are you a cleaning or maintenance professional? Or maybe you're simply having fun doing the chores? Seek no more, perfect solution for you is right here! Register to learn more about Done. </p>
          <p><a class="btn" href="http:/register/">Register Now »</a></p>
        </div>
        <div class="span4">
          <h2>Customer</h2>
          <p>No time for cleaning or maintenance in the house? Get professional help from the service assistant nearby. Register now to learn more about services available at Done. </p>
          <p><a class="btn" href="http:/register/">Register Now »</a></p>
       </div>
        <div class="span4">
          <h2>Business clients</h2>
          <p>Learn more about our professional services for business clients.</p>
          <p><a class="btn" href="http:/about/">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© DROP 2023</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>



</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>
